.*
docs/
rocket/*.anno.json
rocket/*.dtb
rocket/*.dts
rocket/*.sv
rocket/bootrom/*.bin
rocket/bootrom/*.img
rocket/project
rocket/target
test/sym.txt
test/*.log
test/*.sv
test/*.vcd
test/obj_dir
toolchain

