.*
docs/
rocket/*.anno.json
rocket/*.dtb
rocket/*.dts
rocket/*.sv
rocket/bootrom/*.bin
rocket/bootrom/*.elf
rocket/bootrom/*.img
rocket/project
rocket/target
test/*.log
test/*.sv
test/*.vcd
test/obj_dir
test/sym.txt
tftpboot/Image
tftpboot/_install/
tftpboot/boot.scr.uimg
tftpboot/fdt-1.dtb
tftpboot/initrd.gz
tftpboot/kernel.itb
tftpboot/ramdisk.image
toolchain
